{% extends 'main/base.html' %}
{% load static %}
{% block content %}



    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Client</h2>
                <h1 class="display-4 text-uppercase">Our Clients!!!</h1>
                {% csrf_token %}
                <input type="text" placeholder="search" name="search">
                <button type="submit">search</button>
            </div>
            <div class="owl-carousel testimonial-carousel">
                 {% for client in clients %}
                    <div class="testimonial-item bg-dark text-white border-inner p-4">
                        <div class="d-flex align-items-center mb-3">
                            <img class="img-fluid flex-shrink-0" src="{{client.image.url}}" style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h4 class="text-primary text-uppercase mb-1">{{client.first_name}}</h4>
                                <span>{{client.title}}</span>
                            </div>
                        </div>
                        <p class="mb-0">{{client.message}}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <
        {% endblock %}

